.logo {
    margin-top: 37px;
    margin-left: 80px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 48px;
    /* or 160% */
    letter-spacing: -0.02em;
    color: #0A1B32;

    }

.logo-dot {
    color: #A3DC00;
}

section {
    display: inline-block;
}

.main-title {
    max-width: 495px; /*same values but a diffrent look! Why? */
    width: 100%;
    margin-top: 201px;
    margin-left: 200px;
    font-family: 'Ramaraja', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 76px;
    /* or 106% */
    letter-spacing: 0.02em;
    color: #1B0A42;

}

.main-text {
    width: 100%;
    width: 583px;
    margin-top: 12px;
    margin-left: 200px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    /* or 160% */
    letter-spacing: 0.02em;
    color: #9A9A9A;
    
}

.main-button {
    width: 152px;
    height: 63.82px;
    margin-top: 50px;
    margin-left: 200px;
    background-color: #A3DC00;
    border-radius: 6px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 32px;
    /* or 200% */
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    border: none;
}
/*
.image {
    width: 765px;
    margin-top: 83px;
    margin-left: 19px;
}*/

/* Why can't I have this info in the css? */